<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<appSettings>
		<add key="UpdatesPerSecond" value="60.0"/>
		<add key="FramesPerSecond" value="120.0"/>

		<!-- This is where the ContentManager will look for content to load. -->
		<add key="ContentRootPath" value="./Assets"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IWorldService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/ASCIIWorld.Server/WorldService/"
					  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorldService"
					  contract="WorldServiceReference.IWorldService" name="BasicHttpBinding_IWorldService" />
		</client>
	</system.serviceModel>
</configuration>
