<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="UpdatesPerSecond" value="60.0"/>
		<add key="FramesPerSecond" value="120.0"/>
    
    <!-- This is where the ContentManager will look for content to load. -->
    <add key="ContentRootPath" value="./Assets"/>
	</appSettings>
</configuration>
